#certificados {
  display: flex;
  align-items: center;
  
}

#certificados ul {
  flex-direction: column;
  box-shadow: var(--box-shadow);
  padding: 10px;
   border-radius: var(--border-radius);
}

ul #title {
  font-size: 20px;
  box-shadow: none;
}

#msg {
  color: rgb(255, 255, 255);
}

#certificados ul li a {
  text-decoration: none;
  color: #fff;
}

#btn {
  width: 150px;
  height: 50px;
  color: rgb(255, 255, 255);
  font-size: 1.05rem;
  border: 2px solid  #16927c;
  border-radius: 4px;
  color: white;
  background-color: #16927c;

}

#btn:hover {
  background-color: white;
  color: black;
}

#buscarCertificados {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

#resultado {
  max-width: 400px;
  text-align: left;
  word-break: break-word;
}

.notFoundResult {
  color: rgb(255, 0, 0);
}

#resultado span a {
  display: flex;
  border-bottom: none;
}

#resultado span a:hover {
  display: flex;
  border-bottom: none;
  color: rgb(4, 31, 82);
}