* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* #skills {
    margin: 20px;
} */

body {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* background: linear-gradient(-45deg, #1e1e2f, #3a3a5c, #2d2d44, #1b1b2b);
    background-size: 400% 400%;
    animation: gradientMove 15s ease infinite; */
    /* background: #3b3bc6; */

    background:var(--background);
    overflow: hidden;
    background-attachment: fixed;
    background-size: cover;
    color: #ffffff;
}

/* #contato-whatsapp{
    display: flex;
    background-color: #198754fc;
    width: auto;
    height: 50px;
    align-items: center;
    padding: 10px;
    justify-content: center;
    border-radius: 12px;
    
}

#contato-whatsapp a {
    text-decoration: none; 
    color: inherit;
}

#contato-whatsapp svg {
    width:  30px;
    height: 30px;
} */

body.dark-mode {
    background: #121212;
    color: #e0e0e0;
}


#darkModeToggle {
    position: fixed;
    bottom: 120px;
    right: 20px;
    padding: 10px 16px;
    border: none;
    border-radius:var(--border-radius);
    background-color: #333;
    color: white;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}


body:not(.dark-mode) #darkModeToggle {
    background-color:  #ffffff00;
    color: #000;
}

nav {
    position: fixed;
    top: 0;
    width: 100vw;
    justify-content: center;
    background-color: #ffffffd7;
    letter-spacing: 1px;
    padding: 0 30px;
    z-index: 11000000;
    /* Para ficar acima da barra do Google Translate que usa z-index alto também*/
}


ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    text-align: center;
    margin: 10px;

}

ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    border-bottom: 1px solid black;

}

.section {
    width: 90vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 15vh;
    scroll-behavior: smooth;

}

#menu_icon {
    display: flex;
    position: fixed;

}

#icon img {
    width: 50px;
}

#icon a {
    border: none;
}

ul#menu {
    display: flex;
    flex-direction: row;

}

#icon {
    display: flex;
}

li {
    margin: 10px;
}

#menu_icon {
    display: none;
}

#menu_close {
    display: none;
}

footer {
    display: flex;
    width: 100vw;
    height: 30vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffffd7;
    color: #000;

}

footer div {
    margin-bottom: 12px;
}

footer a {
    
    text-decoration: none; 
    color: inherit;
}

footer svg{
    margin: 4px;
}

/* #curriculo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
} */


@media (max-width: 740px) {

    ul#menu {
        display: none;
        flex-direction: column;
    }

    #menu_icon {
        display: flex;
        left: 20px;
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        text-align: center;
    }

    ul#menu li {
        text-align: center;
        justify-content: center;
    }

    ul#menu.active {
        display: flex;
        justify-content: center;
    }

    li#icon.out {
        display: none;
    }

    #menu_close.active {
        display: flex;
    }

    #burger_menu.out {
        display: none;
    }
}